.calendar-container {
  max-width: 700px;
  margin: 1rem auto;
  padding: 2rem;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.fc-event:hover {
  background-color: #0c2c71 !important;
  color: white !important;
  cursor: pointer;
}

.fc-day:hover {
  background-color: #f4f6ec !important;
  cursor: pointer;
}