.fc-event:hover {
  background-color: #0c2c71 !important; /* blue-600 */
  color: white !important;
  cursor: pointer;
}
.fc-day:hover {
  background-color: #f4f6ec !important; /* blue-600 */
  cursor: pointer;
}

.calendar-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.header {
  background-color: #fff;
  padding: 1rem;
  border-bottom: 1px solid #d1d5db;
}

.header-logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.greeting {
  text-align: left;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
}